<div class="info-header">
  <h2 id="nama-kota"></h2>
  <div class="delete-btn" id="delete-btn">X</div>
</div>

<div class="info-body">
  <img class="icon-cuaca" id="icon-cuaca" />
  <h3 class="info-cuaca" id="cuaca"></h3>
  <div class="detail-info-box">
    <div class="detail-info">
      <div class="info-title">Temperature</div>
      <div class="info-context" id="temperature"></div>
    </div>
    <div class="detail-info">
      <div class="info-title">Kelembaban</div>
      <div class="info-context" id="kelembaban"></div>
    </div>
  </div>
</div>
