footer {
  font-size: 1.4rem;
  background: var(--primary-background);
  color: var(--primary-text);
  text-align: center;
  padding: 0.5em;
}

footer h4 {
  padding: 0.25em;
}

footer a,
footer a:active,
footer a:hover {
  text-decoration: none;
  color: var(--primary-text);
}
