header {
  background-color: var(--primary-background);
}

nav {
  display: flex;
  width: 90%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin: auto;

  color: var(--primary-text);

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}
