@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
@import "./navbar.css";
@import "./searchbox.css";
@import "./cityList.css";
@import "./footer.css";

:root {
  font-size: 10px;
  --primary-background: #102b6e;
  --primary-text: #e4f0ff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--primary-text);
}

main {
  width: clamp(300px, 90%, 90%);
  margin: auto;
  padding: 2em 1em;
  border-radius: 2em;
  min-height: calc(100vh - 176px);
}

@media only screen and (max-width: 762px) {
  main {
    width: 100%;
    border-radius: 0;
  }
}
